@font-face {
  font-family: aqua;
  src: url('../fonts/aqua.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.intro {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: url(../images/introwash.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
  position: absolute;
	font-family: aqua;
  color: #000;
  display:none;
}

.intro-body-text {
  color: #000;
  border: 10px solid black;
  font-size: calc(3.5vw + 3vh);
  text-align: center;
  vertical-align: bottom;
  padding-top: calc((3.5vw + 3vh)/5);
  margin-bottom: calc((3.5vw + 3vh)/5);
}

.intro-body-text p {
  margin:0px;
  padding:0px;
}

.intro-body .intro-body-links{
	display: inline;
  font-size: calc((3.5vw + 3vh)/3);
}

.intro-body-links p {
  margin:0px;
  padding:0px;
	display: inline;
}

.intro-body-links a {
  margin:0px;
  padding:0px;
	display: inline;
  color: #000;
  text-decoration: none;
}

.intro-body-links a:hover {
  text-decoration: underline;
}

.about {

}

.portfolio {
  margin-top: calc(10 * 1vh);
  margin-left:0;
  margin-right:0;
  margin-bottom: 0;
  padding-left:0;
  padding-right:0;
  padding-bottom: 0;
}

.portfolio-header-wrapper {
  text-align: center;
  margin-bottom: calc(10 * 1vh);
}

.portfolio h1 {
  font-family: aqua;
  color: #000;
  text-align: center;
  font-size: calc((2.9vw + 2.5vh));
  display:inline;
  border: 10px solid black;
  padding-top: calc((3.5vw + 3vh)/8);
}

.portfolio-item {
  height: auto;
  margin: 0;
  padding: 40px;
  opacity:0;
}

.portfioio-text {
  font-family: aqua;
  color:#fff;
  text-align:center;
}

.portfolio-text h2 {
  font-family: aqua;
  color:#fff;
  text-align:center;
}

.portfolio-text hr {
  height:5px;
}

.portfolio-text p {
  font-family: aqua;
  color:#fff;
  text-align:center;
}

.portfolio-text button {
  font-family: aqua;
  text-align: center;
  display:block;
  margin: auto;
  margin-top: 40px;
  padding-top: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border: solid 3px #fff;
}

.tight {
  margin:0;
  padding:0;
}
