@font-face {
  font-family: aqua;
  src: url('../fonts/aqua.ttf');
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    margin:0;
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.title-text {
  position: absolute;
  color:black;
  font-family: aqua;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.about-text {
  color:black;
  font-family: aqua;
  text-align: center;
}

.about-body{
  color:black;
  font-family: aqua;
  font-size: 1.2em;
  text-align: justify;
}

.about-body-wrapper{
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.intro-canvas {
  width: 90%;
  height: 100%;
  display:block;
  margin: 0 auto;
  padding: 5px;
  border: 3px solid black;
}

.intro-body-links{
  position: absolute;
  color:black;
  font-family: aqua;
  left: 50%;
  transform: translate(-50%, 0%);
	display: inline;
  font-size: 16;
}

.intro-body-links p {
  margin:0px;
  padding:0px;
	display: inline;
}

.intro-body-links a {
  margin:0px;
  padding:0px;
	display: inline;
  color: #000;
  text-decoration: none;
}

.intro-body-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.95); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  overflow-y: scroll;
  cursor: pointer; /* Add a pointer on hover */
}

.overlay h2 {
  position: absolute;
  color: black;
  left: 50%;
  transform: translate(-50%, 0%);
  text-decoration: underline;
}
