<!DOCTYPE html>
<html>
    <head>
      <link href='/static/css/bootstrap.min.css' rel='stylesheet' media='screen'>
      <link href='/static/css/bootstrap-responsive.min.css' rel='stylesheet'>
      <link href='/static/css/style.css' rel='stylesheet'>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>

      <script>
      function about_on() {
        document.getElementById("about-overlay").style.display = "block";
      }
      function about_off(){
          document.getElementById("about-overlay").style.display = "none";
      }

      function contact_on() {
        document.getElementById("contact-overlay").style.display = "block";
      }
      function contact_off(){
          document.getElementById("contact-overlay").style.display = "none";
      }

      </script>
    </head>

    <body>

      <div id="canvasWrapper" style="width:100vw; height: 75vh; position:relative; padding:5vh">
        <canvas id="introCanvas" class="intro-canvas">
        </canvas>
      </div>

      <div style="margin:5vh;">
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="title-text">BRANDON DUDERSTADT</h2>
          <div class='intro-body-links'>
              <a onclick="about_on()"><p>ABOUT</p></a>
              <p>/</p>
              <a><p>PORTFOLIO</p></a>
              <p>/</p>
              <a onclick="contact_on()"><p>CONTACT</p></a>
          </div>
        </div>
      </div>

      <div id="about-overlay" class="overlay" onclick="about_off()">
        <h2 class='overlay-title'>ABOUT</h2>

        <div style="margin:15vh;">
        </div>

        <div class="overlay-body-wrapper">
          <h4 class='about-body'>I'M CURRENTLY A MASTERS STUDENT IN BIOMEDICAL ENGINEERING AT JOHNS HOPKINS UNIVERSITY, AS WELL AS AN ARTIFICIAL INTELLIGENCE RESEARCHER AT THE JOHNS HOPKINS APPLIED PHYSICS LAB.</h3>
        </div>

        <div style="margin:5vh;">
        </div>

        <div class='overlay-body-wrapper'>
          <h4 class='about-body'>BROADLY, MY RESEARCH IS CONCERNED WITH BRIDGING THE GAP BETWEEN BIOLOGICAL AND ARTIFICIAL INTELLIGENCE. MY CURRENT PROJECTS INCLUDE A RANDOM MATRIX HYPOTHESIS TESTING PROCEDURE FOR COMPARING CONNECTOMES, A NOVEL ENSEMBLE METHOD FOR AGGREGATING DECISIONS IN A POPULATION OF NEURONS, AND A DEEP LEARNING SYSTEM FOR VISUAL ANALOGY.</h3>
        </div>

        <div style="margin:5vh;">
        </div>

        <div class="overlay-body-wrapper">
          <h4 class='about-body'>OUTSIDE FO ACADEMIA, YOU CAN FIND ME PRACTICING ACROBATICS, SPINNING FIRE, AND READING. THE FIVE BOOKS THAT HAVE INFLUENCED ME MOST ARE "GODEL, ESCHER, BACH", "ATLAS SHRUGGED", "THE SELFISH GENE", "HAM ON RYE", AND "THE REMAINS OF THE DAY".</h3>
        </div>

      </div>

      <div id="contact-overlay" class="overlay" onclick="contact_off()">
        <h2 class='overlay-title'>CONTACT</h2>

        <div style="margin:15vh;">
        </div>

        <div class="overlay-body-wrapper">
          <h4 class='contact-body'>bduders1@jhu.edu</h3>
          <h4 class='contact-body'>brandon.duderstadt@jhuapl.edu</h3>
          <h4 class='contact-body'>brandonduderstadt@gmail.com</h3>
        </div>

      </div>

    </body>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/node_modules/jquery/dist/jquery.js'></script>
    <script src='/static/js/homeScripts.js'></script>

</html>
