<!DOCTYPE html>
<html>
    <head>
      <link href='/static/css/bootstrap.min.css' rel='stylesheet' media='screen'>
      <link href='/static/css/bootstrap-responsive.min.css' rel='stylesheet'>
      <link href='/static/css/style.css' rel='stylesheet'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>

    <body>

      <header class='intro' id='intro'>
        <div class='intro-body', id='intro_body'>
          <div class='intro-body-text'>
            <p>BRANDON</p>
            <p>DUDERSTADT</p>
          </div>
          <div class='intro-body-links'>
            <a href='#about'><p>ABOUT</p></a>
            <p>/</p>
            <a href='#portfolio'><p>PORTFOLIO</p></a>
            <p>/</p>
            <a><p>CONTACT</p></a>
          </div>
        </div>
      </header>

      <div class='about' id='about'>
        <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12 about-left'>
          <img src="/static/images/backflipCrop.png" class='backflip-img'>
        </div>

        <div class='col-lg-6 col-md-12 col-sm-12 col-xs-12 about-right'>
          <p>hi</p>
        </div>
      </div>

      <div id='portfolio'></div>
      <div class='portfolio'>

        <div class='portfolio-header-wrapper'>
          <h1>PROJECT PORTFOLIO</h1>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color:rgb(91, 192, 230);' onclick='window.open("https://www.github.com/bstadt/pmCalibrate");'>
          <div class='portfolio-text'>
            <h2>Ax=xB</h2>
            <h2>CALIBRATION API</h2>
            <hr></hr>
            <p>The pmCalibrate API is an open source tool for calibrating wrist mounted cameras on robotic arms. It uses the Park and Martin method to find solutions to the Ax=xB kinematic system.</p>
          </div>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color:rgb(229, 200, 76);' onclick='window.open("https://devpost.com/software/health-io");'>
          <div class='portfolio-text'>
            <h2>HOPHACKS 2017:</h2>
            <h2>HEALTH.IO</h2>
            <hr></hr>
            <p>Health.io is an app that utilizes machine learning to predict which hospitals are most suited to treat a specific patient. Health.io runs on a neural net I wrote in tensorflow and trained on the John Snow Hospital Comparison Database. Health.io won the Google Prize at Hophacks 2017.</p>
          </div>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color:rgb(155, 196, 61);' onclick='window.open("https://www.youtube.com/watch?v=3b6divQPHO0");'>
          <div class='portfolio-text'>
            <h2>BITCAMP 2016:</h2>
            <h2>SCRIBE</h2>
            <hr></hr>
            <p>Scribe is an optical character recognition (OCR) robot. Scribe runs on a custom linux kernel embedded on the Intel Edison microprocessor, and utilizes a random forest classifier for its OCR processing. Scribe won the Intel Grand Prize at Bitcamp 2016.</p>
          </div>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color: rgb(195, 66, 63);' onclick='window.open("https://www.github.com/bstadt/bstadt.com");'>
          <div class='portfolio-text'>
            <h2>THIS</h2>
            <h2>WEBSITE</h2>
            <hr></hr>
            <p>I wrote this website entirely from scratch in order to learn web development. It utilizes python-flask for the back end, gunicorn for scalable deployment, heroku for hosting, and HTML5, CSS3, JQuery, and Bootstrap for the front end.</p>
          </div>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color: rgb(221, 110, 54);' onclick='window.open("https://www.youtube.com/watch?v=Bn9rUiiEEuw");'>
          <div class='portfolio-text'>
            <h2>MLH PRIME 2016:</h2>
            <h2>CROWDIFY</h2>
            <hr></hr>
            <p>Crowdify is a distributed jukebox application that lets users at a party or in a coffee shop vote on which songs should be played. I wrote the entire back-end for crowdify in under 24 hours, and the app won a top 10 prize at MLH Prime 2016.</p>
          </div>
        </div>

        <div class='col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item' style='background-color: rgb(142, 57, 108);' onclick='window.open("https://www.youtube.com/watch?v=8mlncKjYCg0");'>
          <div class='portfolio-text'>
            <h2>TITAN AND<h2>
            <h2>M-BOY</h2>
            <hr></hr>
            <p>In 2015, I ran my high school robotics club out of my basement after the school refused to supply us with a room. Titan and M-Boy are the product of the team's hard work and dedication thorughout that season. They won the team 1st Prize at the 2015 Botball World Championships.
          </div>
        </div>

    </body>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/node_modules/jquery/dist/jquery.js'></script>
    <script src='/static/js/homeScripts.js'></script>

</html>
