<!DOCTYPE html>
<html>
    <head>
      <link href='/static/css/bootstrap.min.css' rel='stylesheet' media='screen'>
      <link href='/static/css/bootstrap-responsive.min.css' rel='stylesheet'>
      <link href='/static/css/style.css' rel='stylesheet'>
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    </head>

    <body>

      <div id="canvasWrapper" style="width:100vw; height: 75vh; position:relative; padding:5vh">
        <canvas id="introCanvas" class="intro-canvas">
        </canvas>
      </div>

      <div style="margin:5vh;">
      <div>
        
      <div class="row">
        <div class="col-12">
          <h2 class="title-text">BRANDON DUDERSTADT</h2>
          <div class='intro-body-links'>
              <a href='#about'><p>ABOUT</p></a>
              <p>/</p>
              <a href='#portfolio'><p>PORTFOLIO</p></a>
              <p>/</p>
              <a><p>CONTACT</p></a>
            </div>
          </div>
        </div>
      <div>

    </body>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src='/static/js/bootstrap.min.js'></script>
    <script src='/static/js/node_modules/jquery/dist/jquery.js'></script>
    <script src='/static/js/homeScripts.js'></script>

</html>
