@font-face {
	font-family: fjallaOne;
	src: url(../fonts/FjallaOne-Regular.otf);
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Medium.ttf);
}
body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

.intro {
	font-family: fjallaOne;
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/intro.png) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
	font-family: fjallaOne;
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-family: fjallaOne;
	display: inline;
    font-size: 5.4vw;
	horizontal-align: middle;
}

.intro .intro-body .intro-text {
	font-family: lato;
    font-size: 1.6vw;
}
