.pulse-button {

  position: relative;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 0 0 0 #ffcc00;
  border-radius: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.33, 0, 0, .5);
  -moz-animation: pulse 2s infinite cubic-bezier(0.33, 0, 0, .5);
  -ms-animation: pulse 2s infinite cubic-bezier(0.33, 0, 0, .5);
  animation: pulse 2s infinite cubic-bezier(0.33, 0, 0, .5);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}



.navbar-default{
	background: transparent;
	border-top: 5px solid #ffcc00;
	position: absolute;
}

.navbar-button {
	font-family: lato;
	background-color: #000000;
	color: #ffffff;
	padding-top:2vh;
	padding-bottom:2vh;
	padding-left: 1.4vw;
	padding-right: 1.4vw;
	border:none;
	border-bottom: 0px;
	background:none;	
    font-size: 1.4vh;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.navbar-button:hover {
	background-color: #ffcc00;
}

.navbar-spacer {
	background-color: #000000;
	padding-left: 1vw;
	padding-right: 2vw;
	border:none;
	background:none;	

}


@font-face {
	font-family: fjallaOne;
	src: url(../fonts/FjallaOne-Regular.otf);
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Medium.ttf);
}

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.intro {
	font-family: fjallaOne;
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/intro.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
	font-family: fjallaOne;
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-family: fjallaOne;
	display: inline;
    font-size: 5.4vw;
}

.intro .intro-body .intro-text {
	font-family: lato;
    font-size: 1.6vw;
}

.landing {
	width:100%;
	height:100%;
	background-color = #ffffff;
	color = #000000;
	font-family: fjallaOne;
}

.landing .heading {
	color = #000000;
	font-family: fjallaOne;

}
