.navbar-default{
	background: transparent;
	border-top: 5px solid #ffcc00;
	position: absolute;
}

.navbar-button {
	font-family: lato;
	background-color: #000000;
	color: #ffffff;
	padding-top:2vh;
	padding-bottom:2vh;
	padding-left: 1.4vw;
	padding-right: 1.4vw;
	border:none;
	border-bottom: 0px;
	background:none;	
    font-size: 1.4vh;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.navbar-button:hover {
	background-color: #ffcc00;
}

.navbar-spacer {
	background-color: #000000;
	padding-left: 1vw;
	padding-right: 1.5vw;
	border:none;
	background:none;	

}


@font-face {
	font-family: fjallaOne;
	src: url(../fonts/FjallaOne-Regular.otf);
}

@font-face {
	font-family: lato;
	src: url(../fonts/Lato-Medium.ttf);
}

body {
	overflow-x:hidden;
    width: 100;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.intro {
	font-family: fjallaOne;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: url(../images/intro.png) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
	font-family: fjallaOne;
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
	font-family: fjallaOne;
	display: inline;
    font-size: 5.4vw;
}

.intro .intro-body .intro-text {
	font-family: lato;
    font-size: 1.6vw;
}

.landing {
	width:100%;
	height:100%;
	font-family: fjallaOne;
    padding: 0;
    margin: 0;
}

.landing .heading {
	color = #000000;
	font-family: fjallaOne;
}



.banner {
	font-family: fjallaOne;
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/intro.png) no-repeat top center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.words{
   display: none;
   text-align: center;
}

.about {
	background-color: #ffcc00;
    height:100%;
    font-family: fjallaOne;
    text-align: left;
    font-size: 10vw;
}
